*{
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: "arial";
    background: floralwhite;
}
p{
    font-size: 20px;
    text-align: left
}
.caption{
    text-align:center;
}
.pic{
    width:50%;
    height:auto;
    margin: 8px;
}
img{
    width:100%;
}
.container{
    display: flex ;
}
.info{
    width:50%;
    padding: 10%;
}
#foot{
    background-color:steelblue;
    padding: none;
    margin: none;
    position: fixed;
    bottom:0;
    width:100%;
    color:white;
}
li{
    text-align:left;
}